img{
    max-width: 100%;
    height: auto;
}

.home-section {
    background-color: #fff;

}
#navbarNav ul li .active{
	color: deepskyblue;
	transition: ease-in-out 1.5s;
}


.home-section-image {
    width: 100%;
    margin-bottom: 10px;
}

.home-section-heading {
    color:  #222b36;
    font-size: 40px;
    font-weight: 700;
    font-family: bree serif;

}
.contact-btn{
    border: 2px solid  #222b36;
    background: transparent;
    border-radius: 10px;
    color:  #222b36;
}

.about-section{
    background-color: white;
}
.objective-heading{
    font-size: 25px;
    color: teal;
}

.objective-paragraph{
    font-family: roboto;
    font-size: 18px;
    padding-top: 15px;
    line-height: 2;
    color: black;    
}
.nav-link{
    line-height: 2;
}
.aboutme-heading{
    color:  #222b36;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}
.development{
    padding-top: 70px;
}
.description{
    color: rgb(2, 0, 128);
    font-weight: bold;
}
.modal{
    margin-top: 40px;
}
.modal-heading{
    font-size: 25px;
    margin-top: 10px;
    font-family: roboto;
}
.link{
    display: block;
}

