<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Satya</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Contact Me</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!--header-section-->


<div class="home-section pt-5 pb-5" id="home">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 d-flex flex-column justify-content-center text-center order-1 order-md-2 p-5">
        <h1 class="home-section-heading pb-2">
          Satya Garapati
        </h1>
        <h1 class="home-section-heading pb-2">
          Passionate Web Developer
        </h1>
        <div class="d-md-none">
          <img src="../../assets/images/developer-removebg-preview.png" class="home-section-image" />
        </div>
        <div>
          <!-- Button trigger modal -->
          <button type="button" class="btn contact-btn" data-toggle="modal" data-target="#exampleModal">
            CONTACT Me
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">My Contact Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="../../assets/images/satyaimg.jpeg" class="modal-img">
                  <h1 class="modal-heading">Satya Garapati</h1>
                  <p>Mobile:8367350927</p>
                  <p>Email: <a href="mailto:satyagarapati09@gmail.com">satyagarapati09@gmail.com</a></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 d-none d-md-block order-2 order-md-1">
        <img src="../../assets/images/developer-removebg-preview.png" class="home-section-image p-5" />
      </div>
    </div>
  </div>
</div>

<!--home-section-->

<div class="about-section pt-5 pb-5" id="about">
  <div class="container">
    <div class="row">
      <div class="about-me-heading col-12 p-3">
        <h1 class="aboutme-heading">About Me</h1>

      </div>
    </div>
    <div class="row">
      <div class="objective col-12 col-md-6 order-2 order-md-1 p-5">
        <h1 class="objective-heading">My Objective:</h1>
        <p class="objective-paragraph">Every assignment taken up by me, I consider it as a unique opportunity to create
          and add value through
          hands on learning approach. I wish to contribute to the growth and objectives of my organization, by
          implementing my own skills and knowledge.</p>
        <h1 class="objective-heading">Personality Traits</h1>
        <ul class="nav-link">
          <li>Quick Learner</li>
          <li>Good Communication skills</li>
          <li>Optimistic</li>
          <li>Self-motivator</li>
        </ul>
      </div>
      <div class="images col-12 col-md-6 order-md-2 order-1">
        <img src="../../assets/images/undraw_about_me_wa29.png">
      </div>
    </div>
  </div>
</div>

<!--about-section-->

<div class="pt-5 pb-5 skill-section" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-12 p-3">
        <h1 class="aboutme-heading">Technical Skills</h1>
      </div>
    </div>
    <div class="row">
      <div class="images col-12 col-md-6 ">
        <img src="../../assets/images/undraw_static_assets_rpm6.png">
      </div>


      <div class="col-12 col-md-6 pt-10 development p-5">
        <h1 class="objective-heading  pt-10"> Frontend Web Development</h1>
        <ul class="nav-link">
          <li>Html5</li>
          <li>Css3</li>
          <li>Bootstrap4 with Responsive Design</li>
          <li>Java Script Basics</li>
        </ul>
      </div>
    </div>
  </div>
</div>



<!--skill-section-->

<div class="pt-5 pb-5 project-section" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-12 p-3">
        <h1 class="aboutme-heading">Projets</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-2 p-5">
        <h1 class="objective-heading">Technical Project</h1>
        <p class="objective-paragraph">After completion of my training on front-end technologies I did a small project
          by own with a lot
          of enthusiasm as practice to show and improve my technical skills.</p>
        <p class="objective-paragraph"> <span class="description">Description: </span>I have developed this project
          using HTML, CSS, BOOTSTRAP including mobile response</p>
        <p class="objective-paragraph col-12"> <span class="description">Project link:
          </span><a href="https://satya-portfolio.web.app/" target="project" class="link">https://satya-portfolio.web.app/</a></p>

      </div>
      <div class="images col-12 col-md-6 order-md-2 order-1">
        <img src="../../assets/images/undraw_Organizing_projects_0p9a.png">
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-5">
        <h1 class="objective-heading">B-Tech Project</h1>
        <p><span class="description">Title: </span>Solar Sprayer</p>
        <p class="objective-paragraph"><span class="description">Concept: </span>Main Team Leader (Team consists of 5
          members including me)</p>
        <p class="objective-paragraph"> <span class="description">Outline: </span>	Design and Fabrication of Manually 
          Operated Solar Powered Pesticide Sprayer</p>
      </div>
    </div>
  </div>
</div>


<!--project-section-->

<div class="pt-5 pb-5 education-section" id="education">
  <div class="container">
    <div class="row">
      <div class="col-12 p-3">
        <h1 class="aboutme-heading">Education</h1>
      </div>
    </div>
    <div class="row">
      <div class="education-sec col-12 col-md-6 order-md-1 order-2 p-5">
        <div class="">
          <h1 class="objective-heading"> B.TECH | 2019| ADITYA ENGINEERING COLLEGE.</h1>
          <ul class="nav-link">
            <li>Branch: Agricultural Engineering</li>
            <li>Percentage: 73%</li>
            <li>Board: JNTUK</li>
          </ul>
        </div>

        <div class="">
          <h1 class="objective-heading"> INTERMEDIATE | 2015 | SRI CHAITANYA JUNIOR COLLEGE</h1>
          <ul class="nav-link">
            <li>Branch: MPC</li>
            <li>Percentage: 93</li>
            <li>Board: State board of intermediate education</li>
          </ul>
        </div>

        <div class="">
          <h1 class="objective-heading">SSC | 2013 | Z P HIGH SCHOOL</h1>
          <ul class="nav-link">
            <li>Percentage: 8.7GPA</li>
            <li>Board: State board of secondary education</li>
          </ul>
        </div>
      </div>

      <div class="images col-12 col-md-6 order-md-2 order-1">
        <img src="../../assets/images/undraw_education_f8ru.png">
      </div>
    </div>
  </div>
</div>